@import url(../css/normalize.css);
html {
  box-sizing: border-box;
  font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-style: inherit;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  font-family: acumin-pro, sans-serif;
  font-size: 100%;
  color: #1f1f1f;
}
a,
button {
  transition: all 0.3s ease;
}
input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
}

.home-page__container {
  max-width: 1420px;
  margin: 0 auto;
}
#large-devices {
  display: none;
}
#medium-devices {
  display: none;
}

#small-devices {
  display: none;
}

#extra-small-devices {
  display: none;
}

#extra-large-devices{
    display: none;
}
#ipad-105-portrait {
  display: none;
}
#desktop-retina {
  display: none;
}

#ipad-105-land {
    display: none;
}




/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
  #large-devices {
    display: none;
  }
  #medium-devices {
    display: none;
  }

  #small-devices {
    display: none;
  }

  #extra-small-devices {
    display: block;
  }

  #extra-large-devices{
      display: none;
  }
  #ipad-105-portrait {
    display: none;
  }
  #desktop-retina {
    display: none;
  }

  #ipad-105-land {
      display: none;
  }
}

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) and (max-width: 767.98px) {  
  #large-devices {
    display: none;
  }
  #medium-devices {
    display: none;
  }

  #small-devices {
    display: block;
  }

  #extra-small-devices {
    display: none;
  }

  #extra-large-devices{
      display: none;
  }
  #ipad-105-portrait {
    display: none;
  }
  #desktop-retina {
    display: none;
  }

  #ipad-105-land {
      display: none;
  }
} */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  
  #large-devices {
    display: none;
  }
  #medium-devices {
    display: block;
  }

  #small-devices {
    display: none;
  }

  #extra-small-devices {
    display: none;
  }

  #extra-large-devices{
      display: none;
  }
  #ipad-105-portrait {
    display: none;
  }
  #desktop-retina {
    display: none;
  }

  #ipad-105-land {
      display: none;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
  #large-devices {
    display: block;
  }
  #medium-devices {
    display: none;
  }

  #small-devices {
    display: none;
  }

  #extra-small-devices {
    display: none;
  }

  #extra-large-devices{
      display: none;
  }
  #ipad-105-portrait {
    display: none;
  }
  #desktop-retina {
    display: none;
  }

  #ipad-105-land {
      display: none;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  #large-devices {
    display: none;
  }
  #medium-devices {
    display: none;
  }

  #small-devices {
    display: none;
  }

  #extra-small-devices {
    display: none;
  }

  #extra-large-devices{
      display: block;
  }
  #ipad-105-portrait {
    display: none;
  }
  #desktop-retina {
    display: none;
  }

  #ipad-105-land {
      display: none;
  }
}

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #large-devices {
      display: none;
    }
    #medium-devices {
      display: none;
    }
  
    #small-devices {
      display: none;
    }
  
    #extra-small-devices {
      display: none;
    }
  
    #extra-large-devices{
        display: none;
    }
    #ipad-105-portrait {
        display: none;
    }
    #desktop-retina {
      display: none;
    }
    
    #ipad-105-land {
        display: block;
    }
}

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #large-devices {
      display: none;
    }
    #medium-devices {
      display: none;
    }
  
    #small-devices {
      display: none;
    }
  
    #extra-small-devices {
      display: none;
    }
  
    #extra-large-devices{
        display: none;
    }
    #ipad-105-portrait {
        display: block;
    }
    #desktop-retina {
      display: none;
    }
    
    #ipad-105-land {
        display: none;
    }
}
/* @media only screen 
and (min-device-width: 834px) 
and (max-device-height: 1112px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
} */

/* @media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #ipad-105-portrait {
        display: none;
    }
    #desktop-retina {
      display: none;
    }
    
    #ipad-105-land {
        display: block;
    }
}

@media only screen 
and (min-device-width: 834px) 
and (max-device-height: 1112px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #ipad-105-portrait {
        display: block;
    }
    #desktop-retina {
      display: none;
    }
    #ipad-105-land {
        display: none;
    }
}
*/
/* ----------- Retina Screens ----------- 
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    #ipad-105-portrait {
      display: none;
    }
    #desktop-retina {
      display: block;
    }
    #ipad-105-land {
        display: none;
    }
} 
*/